<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseDefinitivo"
        tools:targetApi="31">
        <activity
            android:name=".usuarios.DetallesUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".recursosrelajacion.canciones.Song4Activity"
            android:exported="false" />
        <activity
            android:name=".recursosrelajacion.canciones.Song3Activity"
            android:exported="false" />
        <activity
            android:name=".recursosrelajacion.canciones.Song2Activity"
            android:exported="false" />
        <activity
            android:name=".recursosrelajacion.canciones.Song1Activity"
            android:exported="false" />
        <activity
            android:name=".recursosrelajacion.SonidosYCancionesActivity"
            android:exported="false" />
        <activity
            android:name=".recursosrelajacion.api.PeliculasActivity"
            android:exported="false" />
        <activity
            android:name=".recursosrelajacion.MenuSonidosActivity"
            android:exported="false" />
        <activity
            android:name=".recursosrelajacion.MenuRecursosActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.RestableserPassActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.NewUsuarioPorSMSActivity"
            android:exported="false" />
        <activity
            android:name=".recursosrelajacion.AgregarRecursoActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.AdministrarUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".recursosrelajacion.RecursosActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.NewUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".menu.MainActivity"
            android:exported="false" />
        <activity
            android:name=".datosemociones.EmployeeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".datosemociones.ObtenerDatosActivity"
            android:exported="false" />
        <activity
            android:name=".datosemociones.IngresarDatosActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.PresentacionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>